$color-black: #000;
$color-deep-gray: #444;
$color-light-gray: #ddd;
$color-gray: #888;
$color-white: #fff;
$color-primary: #72f1b8;
$color-minor: $color-black;
$color-gradient-primary: linear-gradient(to right, transparent, $color-primary);

$border-width-normal: 1px;
$border-width-bold: 3px;
$border-style-primary: solid;
$padding-width-normal: 3px;
$padding-width-large: 5px;
$margin-width-normal: 3px;
$margin-width-large: 5px;
$border-radius-small: 1px;
$border-radius-normal: 3px;
$border-radius-large: 5px;
$border-radius-circle: 50%;

$size-btn-large: 30px;

