// color
$color-black: #000;
$color-light-gray: #444;
$color-deep-gray: #bbb;
$color-gray: #888;
$color-white: #fff;
$color-primary: #cf649a;


$border-width-normal: 1px;
$border-width-bold: 3px;
$border-style-primary: solid;
$padding-width-normal: 3px;
$padding-width-large: 5px;
$margin-width-normal: 3px;
$margin-width-large: 5px;
$border-radius-small: 1px;
$border-radius-normal: 3px;
$border-radius-large: 5px;

